.venv
__pycache__
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyz
*.pywz
*.pyzw
.env
.env.local

.vscode

dataset/
execution/
results/
task_results*
context_files/
/workforce_workflows/
/workflows/
results_with_memory.jsonl
